<style>
    .list-main{
			display: flex;
			justify-content: center;
			align-items: center;
			@media (max-width: 500px) {
				gap: 10px;
			}
		}

        .header.shop .list-main li:last-child{
            @media (max-width: 450px) {
                border-bottom: 1px solid #eee;
            }
        }

</style> 
 
 <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <p>worlds fastest online shopping experience</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__links">
                                <a href="#">Track Orders?</a>
                                <a href="#">FAQs</a>
                            </div>
                            <div class="header__top__hover">
                                <span>English <i class="arrow_carrot-down"></i></span>
                                <ul>
                                    <li>English</li>
                                    <li>Spanish</li>
                                    <li>Hindi</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="navbar-main-content">

                    <div class="header__logo">
                       <a href="/"><h2>THREADË</h2></a>
                    </div>

  <div class="header-search">
    <input type="text" placeholder="Search products..." />
    <button type="submit"><i class="fa fa-search"></i></button>
  </div>

              <% if(user){ %>   <div class="header__nav__option">
                                    <div class="icon-group">
                                       <i class="fa-solid fa-user"></i>
                                    <div class="icon-group-inline">
                                        <span>Hi, <%= user.name%></span>
                                        <a href="/user/logout" class="logout bold">Logout</a>
                                    </div>
                                    </div>

                </div> <% }else{ %>
                    <div class="header__nav__option">
                        <a class="header-link" href="/user/login">Login</a>
                        <a class="header-link" href="/user/register">Signup</a>
                </div>  <% } %>
        </div>

        <div class="header__bottom_links">
                      <% if(user){ %>   <div class="header__bottom__right">
                            <div class="header__bottom_links">

                                <div>

                                    <a href="#"> <i class="fa fa-location"></i> Current Location</a>
                                </div>

                                    <div style="cursor: pointer;" class="icon-group">
                                        <i class="fa-regular fa-heart"></i>
                                    <div onclick="location.href = '/user/wishlist'" class="icon-group-inline">
                                        <span>Wishlist</span>
                                        <span class="count"><span id="HeaderwishCount"><%= wishlistCount %></span> items</span>
                                    </div>
                                    </div>


                                    <div style="cursor: pointer;" class="icon-group">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <div onclick="gotoCartPage(`<%= user?._id %>`)" class="icon-group-inline">
                                        <span>Cart</span>
                                        <span class="count"><span id="HeadercartCount"><%= cartCount %></span> items</span>
                                    </div>
                                </div>


                            </div> 
                    </div> <% }else{ %>  <div class="header__bottom__right">
                            <div class="header__bottom_links">
                                <a href="#"> <i class="fa fa-location"></i> Current Location</a>
                                <a class="mx-3" href="/user/login">Signin</a>
                            </div> 
                    </div> <% } %>
        </div>


    </header>



    <% if(!isSubheaderHidden){ %>
    <header>


    <div class="py-3">



      <div style="justify-content: center;" class="container">


        <div class="header-user-actions">

          <div>
                    <ul class="header-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>
          </div>

                  <div class="header-search-container">

          <marquee>New Rainy Season offers Avaialable</marquee>

        </div>

          <div>
                    <ul class="desktop-menu-category-list">

          <% if(allMainCatsbySub && allMainCatsbySub.length > 0 ) { %>

            <% allMainCatsbySub.forEach((mainCat)=> { %>

          <li class="menu-category">
            <a href="#" class="menu-title"><%= mainCat.name %></a>

            <% if(mainCat.subCategories && mainCat.subCategories.length > 0) {  %>
            <ul class="dropdown-list">

                <% mainCat.subCategories?.forEach((subCat)=> { %>
              <li class="dropdown-item">
                <a href="#"><%= subCat.name %></a>
              </li>

              <% }) %>

            </ul>
            <% } %>
          </li>

          <% })  } %>


          <li class="menu-category">
            <a href="#" class="menu-title">Blog</a>
          </li>

          <li class="menu-category">
            <a href="#" class="menu-title">Hot Offers</a>
          </li>

        </ul>
          </div>

          <div class="d-flex">

            <button onclick="location.href='/user/profile'" class="action-btn">
              <ion-icon name="person-outline"></ion-icon>
            </button>
            
            <button class="action-btn">
              <ion-icon name="heart-outline"></ion-icon>
              <span class="count">0</span>
            </button>
            
            <button class="action-btn">
              <ion-icon name="bag-handle-outline"></ion-icon>
              <span class="count">0</span>
            </button>
            
          </div>
        </div>

      </div>

    </div>

    <nav class="desktop-navigation-menu">

      <div class="container">



      </div>

    </nav>

    <div class="mobile-bottom-navigation">

      <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <button class="action-btn">
        <ion-icon name="bag-handle-outline"></ion-icon>

        <span class="count">0</span>
      </button>

      <button class="action-btn">
        <ion-icon name="home-outline"></ion-icon>
      </button>

      <button class="action-btn">
        <ion-icon name="heart-outline"></ion-icon>

        <span class="count">0</span>
      </button>

      <button class="action-btn" data-mobile-menu-open-btn>
        <ion-icon name="grid-outline"></ion-icon>
      </button>

    </div>

    <nav class="mobile-navigation-menu  has-scrollbar" data-mobile-menu>

      <div class="menu-top">
        <h2 class="menu-title">Menu</h2>

        <button class="menu-close-btn" data-mobile-menu-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>

      <ul class="mobile-menu-category-list">

        <li class="menu-category">
          <a href="#" class="menu-title">Home</a>
        </li>



          <% if(allMainCatsbySub && allMainCatsbySub.length > 0 ) { %>

            <% allMainCatsbySub.forEach((mainCat)=> { %>
        <li class="menu-category">

          <button class="accordion-menu" data-accordion-btn>
            <p class="menu-title"><%= mainCat.name%></p>

            <div>
              <ion-icon name="add-outline" class="add-icon"></ion-icon>
              <ion-icon name="remove-outline" class="remove-icon"></ion-icon>
            </div>
          </button>

          <ul class="submenu-category-list" data-accordion>
            
            <% if(mainCat.subCategories && mainCat.subCategories.length > 0) {  %>
            <%  mainCat.subCategories.forEach((subCat)=> {  %>
            <li class="submenu-category">
              <a href="#" class="submenu-title"><%= subCat.name %></a>
            </li>
            <% }) %>
            <% } %>

          </ul>


        </li>

        <% }) } %>

        <li class="menu-category">
          <a href="#" class="menu-title">Blog</a>
        </li>

        <li class="menu-category">
          <a href="#" class="menu-title">Hot Offers</a>
        </li>

      </ul>

      <div class="menu-bottom">

        <ul class="menu-category-list">

          <li class="menu-category">

            <button class="accordion-menu" data-accordion-btn>
              <p class="menu-title">Language</p>

              <ion-icon name="caret-back-outline" class="caret-back"></ion-icon>
            </button>



          </li>


        </ul>

        <ul class="menu-social-container">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </nav>

  </header>

  <% } %>

    <script>
      function gotoCartPage(userId) {
        window.location.href = `/user/cart`
      }
    </script>
